<launch>
	<arg name="use_imu" default="false" doc="use imu and robot pose ekf"/>
	<arg name="use_odom" value="true" doc="use /odom or /wheel_odom in KUBOT"/>

	<arg name="model" default="$(env KUBOT_MODEL)" doc="which kubot robot model you set"/>
	<arg name="lidar" default="$(env KUBOT_LIDAR)" doc="which kubot lidar you set"/>
	<arg name="camera" default="$(env KUBOT_CAMERA)" doc="which kubot camera you set"/>

	<!-- KUBOT DRIVER -->
	<include if    ="$(arg use_imu)" file="$(find kubot_bringup)/launch/bringup_with_ekf.launch"/>
	<include unless="$(arg use_imu)" file="$(find kubot_bringup)/launch/bringup.launch">
		<arg name="publish_tf" value="$(arg use_odom)" />
	</include>

	<!-- KUBOT MODEL -->
	<include file="$(find kubot_description)/launch/model.launch"/>

	<!-- 2D LIDAR-->
	<include file="$(find kubot_lidar)/launch/$(arg lidar).launch"/>

	<!-- 3D SENSOR -->
	<include file="$(find kubot_3dsensor)/launch/$(arg sensor).launch"/>
	<node pkg="web_video_server" type="web_video_server" name="web_video_server" unless="$(eval arg('camera') == 'non-3dsensor')"/>
</launch>
